body {
    
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
}


#contenedor_principal {
    background-color: #bdbcbc;
    width: 100%;
    margin: 0;
    
    
    
   
}


.div_titulo {
    text-align: center;
    color: white;
    background-color: #213746;
    position: sticky;
    top: 0; 
    z-index: 10; 
}


#div_titulo_primero {
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box; 
}




#div_titulo_primero h3 {
    font-size: 1.6em; 
    font-weight: 500; 
   
}


#div_menu_primero {
    display: flex;
    justify-content: center; 
    gap: 30px;             
}


#div_menu_primero a {
    color: white;
    text-decoration: none; 
    font-weight: bold;     
}



.minititulo{
    text-align: center;
    font-size: 1em;    
    font-weight: bold;  
    color: #333;
}

.parrafo_normal{
    
    font-size: 0.9em;   
    color: #555;          
    line-height: 1.5;
}

.contenido_principal{

    height: 100%;
    background-color: #b9b9b9;
   
}



.contenedor_padre_tarjetas{
    position: relative;
   background-color: #bdbcbc;
   height: 150px;
}
.tarjeta{
   position: absolute;
    
    width: 100px; 
    height: 100px;  
    padding: 5px;
    
   
    background-color: #007bff; 
    color: white;
    border-radius: 5px;
    
    
   
}

#minititulo_tarjetas{
   

    position: absolute;
      
    left: 800px; 
    margin: 0; 

   
}

#tarjeta1 {
   left: 20px;
}

#tarjeta2 {
    left: 150px;
}

#tarjeta3 {
   left: 280px
}









#seccion_sticky {
   
    background-color: #bdbcbc;
    width: 99%;                
    margin: 30px auto;        
    position: relative;       
}


#div_titulo_sticky {
  position: sticky;
  top: 130px; /* se pega 60px por debajo del sticky de arriba */
  background-color: rgb(86, 184, 86);
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 5;
}




.contenido_relleno {
    padding: 20px;
    color: #333;
    line-height: 1.6;
}
.articulo_principal{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
     background-color: #bdbcbc;
    width: 99%;                
    margin: 30px auto;        
    position: relative;   
   box-shadow: 2px 2px 5px #555;
}
.hover{
    position: relative;
    margin-bottom: 3px;
}

#boton_hover{
    background-color: red;
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: wheat;
    
}
.linea{
    margin-top: 50px;
    border-top: 2px solid black;
   
    border-radius: 2px;
     background-color: #bdbcbc;
     height: 50px;
     width: 100%;
    
}