* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Vital para que el padding no rompa el ancho */
}
.container {
        max-width: 1200px;
        margin: 0 auto; /* Centra el bloque horizontalmente */
        padding: 0 20px;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}
h2, h3{
    color: #2c3e50;
    
   
}
section {
    padding: 3rem 0;
   
}
.container h3 {
    text-align: center;
}


    .header-main {
        background-color: #1a2c5b;
        color: white;
        padding: 2rem;
        position: sticky;
        top: 0;
        z-index: 1000;
    }
        .div-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .logo{
                height: 40px;
                width: auto;
            }

            .nav-indice ul{
                display: flex;
                list-style: none;
                gap: 1rem;

            }

            .nav-indice a{
                text-decoration: none;
                color: white;
                font-weight: bold;
            }
                .contacto{
                    background-color: #ff5722;
                    border-radius: 5px;
                    padding: 10px 20px;
                    display: inline-block;

                }
    .section-titulo{
        color: white;
        background-color: #2c4a93;
        text-align: center;
        padding: 8rem;
        
    }
    .section-titulo h1{
        font-size: 3rem;
        padding-bottom: 5px;
    }

    .section-proyectos{
        text-align: center;
        background-color: #f9f9f9;
    }

        .grid-proyectos{
            display: flex;
            
            gap: 30px;
            justify-content: center;
            padding: 3rem 0;

        }

            .proyecto{
                 position: relative; 
                 text-align: left;
    
                /* Flexbox: 1 parte de crecimiento, 1 de encogimiento, base de 250px */
                flex: 1 1 250px; 
                height: 300px;

                border-radius: 8px;
                overflow: hidden; 
                box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
                background: white;
                cursor: pointer;
            }
                .proyecto img{
                    margin: 5px;
                    width: 20px;
                    height: 20px;
                     
                    /* Obligatorio para imágenes en diseños Flex/Grid */
                   
                }
                .texto-proyecto{
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                }
                    .texto-proyecto h3{
                        margin-bottom: 2px;
                    }
                    .mas{
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        background-color: #ff5722;
                        color: white;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 35px;
                        font-size: 20px;
                        opacity: 0.9;
                        transition: opacity 0.3s;
                    }
            


    .seccion-pregunta{
        background-color: #e8eaf6;
    }


        .grid-destacado{
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: center;
            gap:20px;
        }
            .texto-destacado h2{
                padding-bottom: 1rem;
            }

            .Ilustracion{
                
            }
            


