

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Vital para que el padding no rompa el ancho */
}
.container {
        max-width: 1100px;
        margin: 0 auto; /* Centra el bloque horizontalmente */
        padding: 0 20px;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

h2, h3{
    color: #2c3e50;
    text-align: center;
    margin-bottom: 2rem;
}
section {
    padding: 3rem 0;
    border-bottom: 1px solid #eee;
}

    .main_header{
        background-color: #2c3e50;
        color: #ffffff;
        padding: 1rem 0;
    }

        .div_header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .div_header ul{
                display: flex;
                list-style: none;
                gap: 20px;
            }
                .div_header ul a{
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                }



       
        .bienvenida{
            text-align: center;
            padding: 4rem 0;
            background-color: #ffffff;

        }
        .div_imagenes{
            display: flex;
            gap: 20px;
            justify-content: center;
            
           
        }
            .contenedor_imagen{
                background-color: #ffffff;
                padding: 1rem;
                border: 1px solid #dddddd;
                border-radius: 8px;
                text-align: center;
                flex: 1 1;
            }
                .Imagen{
                    height: 150px;
                    background-color: #bdc3c7;
                    
                    color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                    
                  
                }
        .div_servicios{
            display: grid;
            grid-template-columns: 1fr 1fr; 
             grid-template-rows: auto auto; 
             gap: 15px;
        }
            .servicio{
                text-align: center;
                border-radius: 5px;
                background-color: #3498db;
                padding: 2rem;
                color: white;
                font-weight: bold;
                font-size: 1.2rem;
            }
            .B{background-color: #2980b9;}
            .C{background-color: #1abc9c;}
            .D{background-color: #16a085;}


    .main_footer{
        background-color: #2c3e50;
        color: #ffffff;
        padding: 2rem 0;
    }
        .grid_letraPequena{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

            .div_columnad{
                text-align: right;
            }
        


    


    